body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(to left top, #171315, #181417, #19151a, #18161c, #17171f, #1f1e26, #27252e, #2f2d36, #433d44, #564f53, #686163, #797575);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
